<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>

</head>
<body>

    <div>
        <h1>Registro</h1>
        <form action="" id="registro">
            <input type="text" id="user" name="user" placeholder="username">
            <input type="password" id="password" placeholder="password">
            <button type="submit">
                registrar
            </button>
        </form>
    </div>

    <div>
        <h1>Login</h1>
        <form action="" id="login">
            <input type="text" id="user-login" name="user" placeholder="username">
            <input type="password" id="password-login" placeholder="password">
            <button type="submit">
                Login
            </button>
        </form>
    </div>
    
    <script src="/js/auth.js"></script>
</body>
</html>